/* reset of margin and padding*/
* {
  margin: 0;
  padding: 0;
}
/* header image set to cover 100vh */
.bg-dark{
background-color:#48cae4;
}
.bg-light{
  background-color: #caf0f8;
}

.img-round {
  border-radius: 50%;
  border: 1px solid #48cae4;
}
header {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1569196791447-9cad0185fcd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1007&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* setting the position and width of sections*/

h1 {
  font-size: 55px;
  padding-top: 10%;
  margin-bottom: 20px;
  }

h2 {
    font-size: 30px;
    padding-top: 20px;
  }

h3 {
    font-size: 20px;
    padding: 10px 0;
}

p {  
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#023e8a;
  text-align: center;
  padding: 10px 50px;
  }

h1, h2, h3  {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #03045e;
}
/* Main footer */
footer{
  background-color: #023e8a;
  height: 100px;
}

footer p {
  color: #caf0f8;
  padding-top:30px;
}

hr {
  border: 1px solid #023e8a;
}
/* positioning the ordered & unordered lists */
ul, ol {
  position: relative;
  width:40%;
  left: 45%;
}

li {
  color: #023e8a;
  padding-bottom: 10px;
}
/* Contact me image */
img {
  display: block;
  margin: auto;
  width: 40%;
}
/* adding padding to the links */
a {
  padding: 15px 0;
}
/* adding pseudo classes to the links */
a:link { color: #0096c7}
a:visited { color: #03045e}
a:hover { color: #48cae4}
a:active { color: #023e8a}

.group img {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.item {
  flex: 1;
  padding: 10px;
}

.item-double {
  flex: 2;
  padding: 10px;
}

@media (min-width: 800px) {
.group {
  flex-direction: row;
}
}